$_azulclaro:rgb(0, 8, 255);
$_blancofull:#faf6f6;
$_negrofull:#080808;
$_violetafull:#7e11a2;
$_verdeclaro:rgba(3, 220, 17, 0.818);
$_rojo-opaco:rgb(249, 52, 45);





$primario:$_azulclaro;
$secundario:$_negrofull;
$success:$_verdeclaro;
