/*index banner*/
.banner{
    height: 500px;
    position: relative;
    background: rgb(227, 187, 239);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


.banner__info{
    padding:0 2rem;
    position: absolute;
    width: 100%;
    max-width: 700px;
    text-align: center;
    color:$_blancofull;
    margin: auto;
}
.banner__title{
    line-height: 1.5;
    font-size: 2.5rem;
}

.banner__p{
    line-height: 2;
    font-size: 1rem;
    opacity: 0.9;
    margin-top: 1rem;
}

