h1,
h2,
h3,
h4,
h5,
h6,nav {
    margin: 10px;
    padding: 10px;
    border: 10px;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: rgb(238, 87, 244)!important;
}
h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}