main {
    overflow: hidden;
    background: rgb(140, 140, 140);
    background: linear-gradient(0deg, rgba(140, 140, 140, 1) 0%, rgba(244, 234, 234, 1) 25%, rgba(139, 139, 139, 1) 50%,
            rgba(251, 249, 244, 1) 75%, rgba(135, 135, 135, 1) 100%);
}