* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    object-fit: contain;
  }
  p {
    line-height: 1.8;
  }
  select {
    display: inline;
    text-align: center;
  }
  .banner{
    height: 450px;
    position: relative;
    background: rgb(223, 242, 246);
    display: flex;
    align-items: center;
    justify-content: center;
}


.banner__info{
    padding:0,2rem;
    position: absolute;
    width: 100%;
    max-width: 700px;
    text-align: center;
    color:pink;
    margin: auto;
}
.banner__title{
    line-height: 1.5;
    font-size: 2.5rem;
}

.banner__p{
    line-height: 2;
    font-size: 1rem;
    opacity: 0.9;
    margin-top: 1rem;
}
.banner__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
}