.btn-shop{
    display: block;
    border: 2px solid #28fec5;
    color: rgb(6, 6, 6);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    margin: 20px auto;
    transition: all 0.5s;
  }
  .btn-shop:hover{
    background: #f4697b;
    color: rgb(234, 11, 208);
  }