/*parrafos*/
p {
	font-size: 1rem !important;
	font-weight: bold;
	justify-self: center;
	align-self: center;
	text-align: center;
	border: 5px;
	margin: 5px;
	padding: 5px;
    font-family: "Poppins";
	color: rgb(5, 5, 5);
}


